# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite
*.sqlite3

# Virtual environment
venv/
.venv
env/
.env
deploy-client.sh

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
