[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"
Flask-Bcrypt = "*"
Flask-CORS = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
faker = "*"
SQLAlchemy-serializer = "*"
psycopg2-binary = "*"
python-dotenv = "*"
Werkzeug = "*"
requests = "*"
cloudinary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
